@media (max-width: 991px) {

  .P-catalog-details-block {
    flex-direction: column;
  }
  .P-slider-block {
    .slick-slider {
      margin: 0 -15px;
    }

  }
  .P-slider-block, .P-catalog-detail-box {
    width: 100%;
    padding: 20px 0;
  }
  .P-catalog-detail-box {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
  .P-change-catalog-details .P-change-details-box {
    min-height: 160px;
  }
  .P-change-catalog-props {
    ul {
      flex-wrap: wrap;

      li {
        width: 25%;
        min-height: 60px;
      }
    }
  }
  .P-info-catalog-box{
    height: auto;
    margin: 0 -15px;
    width: auto;
  }
}

@media(max-width: 768px) {

  .P-slider-catalog-img {
    min-height: 300px;
  }
  .P-change-catalog-details {
    .P-change-details-box {
      min-height: 100px;
    }
  }
  .P-catalog-info-block ul li p {
    font-size: 16px;
  }
}

@media(max-width: 576px) {

  .P-padding-details {
    width: 50%;

  }
  .P-slider-catalog-img {
    min-height: 250px;
  }
  .P-change-catalog-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .P-change-details-box {
      min-height: 110px;
    }
  }
  .P-catalog-info-block ul li p {
    font-size: 14px;
  }
  .P-change-catalog-props ul li {
    width: 50%;
  }
  .open-menu-react .menu-cnt {
    width: 100% !important;
  }
  .P-catalog-info-block ul li + li {
    margin-top: 5px;
  }
  .P-info-catalog-box{

    padding: 15px;
    p{
      font-size: 14px;
    }
  }
}