@import "../../assets/styles/variables";

.P-catalog-section {
  background-color: #F8F8F8;
  position: relative;

}

.P-slider-block, .P-catalog-detail-box {
  width: 48%;
  padding: 45px 0 45px 0;
}

.P-catalog-detail-box {
  margin-left: 21px;
  padding-left: 30px;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.P-slider-catalog-box {
  padding: 15px;
}

.P-slider-catalog-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;


}

.P-catalog-details-block {
  position: relative;
  .slick-dots {
    bottom: 20px;

    li {
      button {
        width: 10px;
        height: 10px;
        border: 1px solid white;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }

      &.slick-active {
        button {
          width: 10px;
          height: 10px;
          border: 1px solid white;
          border-radius: 50%;
          background-color: white;

          &:before {

            font-size: 0;

          }
        }
      }
    }

  }
}

.P-catalog-info-block {
  ul {
    li {
      display: flex;
      align-items: center;

      p {
        width: 50%;
        font-size: 18px;

        &:first-child {
          font-weight: bold;
        }
      }
    }

    li + li {
      margin-top: 20px;

    }
  }
}

.P-about-details {
  margin: 27px 0;

  .P-about-detail-box {
    background-color: #00B6FF;

    .P-click-info, .P-change-details {
      padding: 15px;
    }

    .P-click-info {
      font-size: 25px;
      color: $white;
      background-color: #00ABF0;
      width: 50px;
      text-align: center;
      cursor: pointer;
    }

    .P-change-details {
      text-align: center;
      color: white;
      font-size: 18px;
      width: 100%;
    }
  }
}

.P-change-catalog-details {
  margin: 0 -15px;

  .P-change-details-box {
    min-height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    .P-checkbox {
      position: absolute;
      width: 18px;
      height: 18px;
      background-color: #00B6FF;
      top: 5px;
      right: 5px;

      &:before {
        position: absolute;
        content: '';
        width: 10px;
        height: 3px;
        border: 2px solid white;
        border-left: none;
        border-bottom: none;
        transform: rotate(135deg);
        left: 4px;
        top: 5px;
      }
    }

    p {
      color: white;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
      padding: 3px 0;
      font-size: 15px;
    }
  }
}

.P-padding-details {
  width: 33.33%;
  padding: 15px;
}

.P-info-catalog-box {
  position: absolute;
  background-color: white;
  width: 100%;
  padding: 35px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;

  p {
    margin-top: 15px;
    color: $black;
    font-size: 18px;
  }

  span {
    padding-left: 10px;
    position: relative;
    cursor: pointer;
    &:before {
      position: absolute;
      content: '';
      border: 1px solid black;
      border-left: none;
      border-bottom: none;
      transform: rotate(-135deg);
      width: 5px;
      height: 5px;
      left: 0;
      top: 7px
    }
  }
}

.P-change-catalog-props {
  ul {
    li {
      width: 12.5%;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-bottom: 2px solid red;
      cursor: pointer;
      &.active-select {
        background-color: #00B6FF;
        color: white;
        border-bottom:2px solid #00B6FF;
        border-top:1px solid  #00B6FF;
      }
      &.change-step{
        border-bottom: 2px solid #00B6FF;
      }
    }


  }
}

.P-catalog-select-bg {
  background-color: #F8F8F8;
  padding-bottom: 40px;
}