@import '../../assets/styles/variables';

@media (max-width: 1199.98px) {
  .sidenav {
    ul {
      li {
        span {
          font-size: 14px;

          &:before {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 990.98px) {
  .sidenav {
    ul {
      li + li {
        margin-left: 10px;
      }

      li {
        span {
          font-size: 11px;

          &:before {
            font-size: 11px;
          }
        }
      }
    }
  }
  .P-header-logo {
    a {
      width: 200px;
    }
  }
}

