@import '../../assets/styles/variables.scss';


header{
  background-color: $black;
  width: 100%;
  z-index: 9999999;
  min-height: 100px;
  display: flex !important;
  align-items: center;
  overflow: hidden;
}
.P-header-section{
  position: relative;
  width: 100%;


}
.P-basket-button{
  button{
    background-color: transparent;
    width: 35px;
    height: 35px;
    svg{
      width: 100%;
      height: 100%;

    }
  }
}
.sidenav{
  ul{
    li{
      padding: 20px 0;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      position: relative;
      overflow: hidden;
      width: 100%;
      text-align: center;
      &:hover{
        span{
         color: white;
        }
      }
      span{
        width: 100%;
        line-height: 21px;
        text-align: center;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 500;
        color: rgba(255,255,255,0.7);
        cursor: pointer;
        display: block;
        transition: 0.3s;
        &:before{
          content: attr(data-link);
          position: absolute;
          top: 100%;
          font-weight: 500;
          color: $white;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          -webkit-transition: color .4s;
          transition: color .4s;
          font-size: 15px;
        }

      }
    }
  }
}

.P-header-logo-basket{
  width: 100%;
  a{
    width: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  position: relative;
  z-index: 99;
}


.open-menu {
  display: none;
  width: 35px;
  height: 25px;
  position: relative;
  cursor: pointer;

}

.open-menu span {
  position: absolute;
  height: 2px;
  background-color: $white;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.open-menu-react  .open-menu  span {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: $white;
}

.open-menu-react  .open-menu span:first-child, .open-menu-react .open-menu  span:last-child {
  display: none;
}

.open-menu-react  .open-menu span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.open-menu-react .open-menu  span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.open-menu-react .sidenav ul li {
  -webkit-transform: translateX(0%) !important;
  -ms-transform: translateX(0%) !important;
  transform: translateX(0%) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.open-menu-react .for-mobile-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  left: 0;
}


.P-animation-click{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.6);
  transform: scale(0);
  opacity: 0;
  &.active-animate-1{
    animation: ripple-1 0.7s ease-out;
    animation-fill-mode: forwards;
  }
  &.active-animate-2{

    animation: ripple-2 0.7s ease-out;

  }

}

@keyframes ripple-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes ripple-2 {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}





.open-menu span:nth-child(2), .open-menu span:nth-child(3) {
  top: 10px;
}

.open-menu span:last-child {
  top: 20px;
}

.open-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 999999999;
  margin-left: 25px;
}


.header-change-language ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


.menu-cnt {
  margin: 0;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 100px;
  right: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end!important;
  align-items: flex-start !important;
  background-color: #212121;
  transition: 0.3s;

  padding-bottom: 120px;
}

.open-menu-react{
  .menu-cnt{
    width: 350px;

  }
}
.sidenav{
  width: 100%;
  background-color: #212121;
  ul{
    li{
      span{
        white-space: nowrap;
      }
    }
  }
}
.menu-cnt ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-end;
}

.header-menu-block {
  justify-content: flex-end;
  align-items: flex-end;
}


.sidenav ul li a {
  color: white !important;
}

.sidenav > ul > li {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}