@import './variables';

* {
  margin      : 0;
  padding     : 0;
  outline     : none;
  box-sizing  : border-box;
  font-family:'Roboto';

}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill { box-shadow: 0 0 0 1000px $black inset; }

input[type=file] { display: none; }


h1, h2, h3, h4, h5, h6 {
  font-weight : 100;
}

body {
  width      : 100%;
  overflow-x : hidden;
  min-height : 100vh;

  &.P-disabled {
    overflow: hidden;
  }
}

textarea {
  
  resize      : none;
  height      : 100px;
  padding-top : 10px;
}

button { cursor: pointer; }
